<div class="main__content">
  <app-navbar (newItemEvent)="addItem($event)"></app-navbar>

  <!-- <div class="container text-center" style="top: {{valor}}"> -->
  <div class="container text-center" [ngStyle]="{ top: valor }">
    <img
      class="vector"
      src="../assets/dccl--frontend-simple-coffee-listing/vector.svg"
    />
    <div class="info d-flex justify-content-center flex-column">
      <h1 class="title">Our Collection</h1>
      <p class="info mb-4">
        Introducing our Coffee Collection, a selection of unique coffees from
        different roast types and origins, expertly roasted in small batches and
        shipped fresh weekly.
      </p>
      <div class="select d-flex justify-content-center gap-5">
        <p>All Products</p>
        <p>Available Now</p>
      </div>
    </div>
    <app-card></app-card>
  </div>
</div>
